body {
  background: linear-gradient(180deg, #dce35b, #45b649);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.gnb {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
.gnb a {
  position: relative;
  /* border: 1px solid tomato; */
  width: 80px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  /* a태그 크기에서 넘치는 요소는 숨겨줌 */
  overflow: hidden;
}

/* span으로 네비게이션만들기 */
.gnb a span {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.gnb a span:nth-child(1) {
  top: 0;
  left: 0;
}
.gnb a span:nth-child(2) {
  top: 100%;
  left: 0;
  color: #45b649;
}
/* 부모요소의 밖 상단 끝점으로 감 */
.gnb a:hover span:nth-child(1) {
  top: -100%;
}
/* 0%은 내용안에 상단에 있음 */
.gnb a:hover span:nth-child(2) {
  top: 0;
}

/* data-link로 네이게이션 만들기 */
.gnb a:before,
.gnb a:after {
  position: absolute;
  content: attr(data-link);
  width: 100%;
  transition: 0.3s;
}
.gnb a:before {
  top: 0;
  left: 0;
}
.gnb a:after {
  top: 100%;
  left: 0;
  color: #45b649;
}
.gnb a:hover:before {
  top: -100%;
}

.gnb a:hover:after {
  top: 0;
}
