body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tab-inner {
  /* border: 1px solid red; */
  width: 300px;
  height: 350px;
}
input[name="tabmenu"] {
  display: none;
}
.slide {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.slide-inner {
  position: absolute;
  width: 900px;
  /* img옆에 마진부분인 포트사이즈에 해당해서 0으로 해주면 너비에 맞게 사진이 들어감 */
  font-size: 0;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.btn {
  text-align: center;
  margin-top: 10px;
}
.btn label {
  background-color: lightgrey;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

input[id="tab1"]:checked ~ .slide .slide-inner {
  left: 0px;
}
input[id="tab2"]:checked ~ .slide .slide-inner {
  left: -300px;
}
input[id="tab3"]:checked ~ .slide .slide-inner {
  left: -600px;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: tomato;
}
