body {
  background-color: darkgray;
  color: white;
  font-size: 15px;
}
a {
  color: white;
  text-decoration: none;
}
.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.front,
.back {
  position: absolute;
}
.front {
  z-index: 1;
  width: 100%;
  background-color: black;
  text-align: center;
  height: inherit;
}
.front h2 {
  margin: 0px;
}
.back {
  transition: 0.5s;
  /* 먼저 top:0라고 해줘야지 transition이된다  */
  top: 0;
  background-color: white;
  color: black;
  height: inherit;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}
.back a {
  background-color: yellowgreen;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}
.back a:hover {
  background-color: black;
}
/* 위아래로 분리됨 */
.item:hover .front {
  top: -50%;
}
.item:hover .back {
  top: 50%;
  opacity: 1;
}

.item:hover .front img {
  animation: ani 1s linear infinite;
}

@keyframes ani {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
}
